html {
    color: lightslategray;
    font-family: 'Source Serif 4', serif;

}
body {
  width: 600px;
  margin: 10px auto 300px;
  background-color: #f1f5f5;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(255, 220, 117);
}
h1 {
  font-size: 60px;
  text-align: center;
  padding: 33px;
  text-shadow: 3px 3px 1px rgba(27, 100, 142, 0.34);
}
h1:hover {
  color: deeppink;
}
p,
li {
    font-size: 18px;
    line-height: 1.25;

}
img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
button {
  display: block;
  margin: auto;
}